footer {
    background: #191919;
    padding: 3rem 0 2rem;
    color: #FFF;
}

footer a {
    color: #898989;
}

.footer-link,
.footer-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-link a:hover {
    color: #FFF;
    text-decoration: underline;
}

.footer-info a {
    color: #FFF;
}

.footer-info a:hover {
    text-decoration: underline;
}

.footer-info > div {
    display: flex;
    gap: 1.5rem;
}

.footer-title {
    font-weight: 700;
}

footer ul {
    flex-grow: 1;
}

footer ul li,
footer input {
    margin: 1rem 0;
}

footer hr {
    margin: 3rem 0 1.5rem;
}

.social-media {
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;
}

footer input {
    background: none;
    border: 1px solid #FFF;
    border-radius: 1rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #FFF;
    width: 100%;
}

.follow-me {
    flex-grow: 2;
}