header {
    position: sticky;
    box-shadow: 0 6px 16px 0 #1919190f;
    background: var(--headerBackground);
    padding: .8rem 11%;
    font-size: var(--p3-font-size);
    line-height: var(--p3-line-height);
}

nav {
    display: flex;
    align-items: center;
}

.rightBar {
    justify-self:flex-end;
    margin-left: auto;
}

nav a {
    margin: 0 20px;
    font-weight: 500;
}

.fa-house {
    background: var(--brand-color);
    color: #FFF;
    padding: 8px;
    border-radius: 40%;
}