@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
@import url(../font/MiSans/font.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --text-base: #191919;
    --headerBackground: #FFF;
    
    --h1-font-size: 48px;
    --h1-line-height: 58px;
    --h2-font-size: 36px;
    --h2-line-height: 40px;
    --h3-font-size: 32px;
    --h3-line-height: 36px;
    --h4-font-size: 28px;
    --h4-line-height: 34px;
    --p1-font-size: 24px;
    --p1-line-height: 28px;
    --p2-font-size: 20px;
    --p2-line-height: 26px;
    --p3-font-size: 16px;
    --p3-line-height: 20px;
}

body {
    font-family: 'Maven Pro', sans-serif;
}

a {
    text-decoration: none;
    color: var(--text-base);
}

nav {
    position: sticky;
    display: flex;
    align-items: center;
    width: 100%;
    box-shadow: 0 6px 16px 0 #1919190f;
    background: var(--headerBackground);
    line-height: 1.2;
    height: 56px;
    font-size: 16px;
    padding: 0 11%;
}

.rightBar {
    justify-self:flex-end;
    margin-left: auto;
}

nav a {
    margin: 0 20px;
    font-weight: 600;
}

.fa-house {
    background: #ff6900;
    color: #FFF;
    padding: 8px;
    border-radius: 40%;
}

.focusSmartphone {
    height: 600px;
    background: url('../images/xiaomi-12-lite-banner.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.banner-info {
    position: absolute;
    left: 10%;
}

.banner-info h4 {
    margin-top: 20px;
}

.buttonBuy {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.buyNow {
    background: #000;
    color: #FFF;
    font-size: 1.25vw;
    padding: 9px 30px;
    border-radius: 14px;
    margin-right: 30px  ;
}

.showMore {
    font-size: 24px;
    line-height: 29px;
}

h1 {
    font-size: var(--h1-font-size);
    line-height: var(--h1-line-height);
}

h2 {
    font-size: var(--h2-font-size);
    line-height: var(--h2-line-height);
    font-family: 'MiSans';
    font-weight: 600;
}

h3 {
    font-size: var(--h3-font-size);
    line-height: var(--h3-line-height);
    font-family: 'MiSans';
    font-weight: 500;
}

h4 {
    font-size: var(--h4-font-size);
    line-height: var(--h4-line-height);
}