header {
    position: sticky;
    box-shadow: 0 6px 16px 0 #1919190f;
    background: var(--headerBackground);
    font-size: var(--p3-font-size);
    line-height: var(--p3-line-height);
}

.nav-main {
    display: flex;
    align-items: center;
}

.right-bar {
    justify-self:flex-end;
    margin-left: auto;
}

.right-bar i {
    font-size: 1.5rem;
}

nav a {
    font-weight: 500;
}

.left-bar {
    display: flex;
    align-items: center;
    gap: 2.1rem;
}

.icon {
    height: 2rem;
}

.category {
    padding: 1rem .5rem;
    border-bottom: 3px solid #FFF;
    transition: all .2s ease-in-out;
}

.category:hover {
    border-color: var(--brand-color) ;
}

.bottom-bar {
    display: flex;
    gap: 3rem;
    padding: 3rem 0;
    justify-content: center;
    background: #f7f7f7;
}

.bottom-bar svg {
    height: 1rem;
    transition: all .2s ease-in-out;
}

.bottom-bar svg:hover {
    fill: var(--brand-color);
}